<h3>Hello, <%= profile.username %>!</h3>

<br><br>

<div class=" col-sm-5 middle-side">
					     <p><span class="bath1">Full Name:</span>
						 	<br><%= profile.fullname %><br></p>					 
						 <p><span class="bath2">Role:</span>
						 	<br><%= profile.role %><br></p>					 
						 <p><span class="bath3">E-mail:</span>
						 	<br><%= profile.email %><br></p>
						 <p><span class="bath4">Phone:</span>
						 	<br><%= profile.phone %><br></p>								 
</div>


    		
	</div>
</div>